:root {
    --cor-cabecalho: #F0F0F0;
    --cor-rodape: #FFFFFF;

    --cor-shadow: rgba(0, 0, 0, 0.08); 

    --cor-nome: #6278F7;
    --cor-cargo: #212121;
}

.colaborador {
    width: 17.5em;
    padding: 1em;
}

.colaborador .cabecalho {
    background-color: var(--cor-cabecalho);
    border-radius: 10px 10px 0px 0px;
}
.colaborador img {
    width: 6.5em;
    border-radius: 50%;
    position: relative;
    bottom: -3.5em;
}

.colaborador .rodape {
    background: var(--cor-rodape);
    box-shadow: 5px 5px 15px var(--cor-shadow);
    border-radius: 0px 0px 10px 10px;
    padding-top: 5.5em;
    padding-bottom: 2.5em;
}

.colaborador .rodape h4 {
    color: var(--cor-nome);
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.colaborador .rodape h5 {
    font-size: 1.2em;
    line-height: 1.2em;
    color: var(--cor-cargo);
    padding: 0 1em;
}
