:root {
    --cor-fundo: #6278F7;
    --cor-texto:#FFF;
}

.footer {
    background: var(--cor-fundo);
    color: var(--cor-texto);
    padding: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1em;
}

.footer ul li {
    display: inline-block;
    margin-right: 4em;
}


.footer ul li:last-child {
    margin-right: 0;
}