:root {
    --cor-fundo: #6278F7;
    --cor-texto: #FFF;
    --cor-hover: #95FFD4;

}

.botao {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 1em 0;
    padding: 1.2em;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    color: var(--cor-hover);
}