:root {
    --fundo-programacao: #D9F7E9;
    --destaque-programacao: #57C278;
    
    --fundo-frontend: #E8F8FF;
    --destaque-frontend: #82CFFA;
    
    --fundo-datascience: #F0F8E2;
    --destaque-datascience: #A6D157;
    
    --fundo-devops: #FDE7E8;
    --destaque-devops: #E06B69;
    
    --fundo-ux: #FAE9F5;
    --destaque-ux: #DB6EBF;
    
    --fundo-mobile: #FFF5D9;
    --destaque-mobile: #FFBA05;
    
    --fundo-inovacao: #FFEEDF;
    --destaque-inovacao: #FF8A29;
    
}

.time {
    text-align: center;
    padding: 2em;
}

.time h3 {
    font-size: 2em;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 0.5em;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}