:root {
    --fonte-primaria: 1.5em;

    --cor-input: #FFFFFF;
    --cor-input-shadow: rgba(0, 0, 0, 0.06);
}

.campo-texto {
    margin: 1em 0;
}

.campo-texto label {
    display: block;
    margin-bottom: 0.5em;
    font-size: var(--fonte-primaria);
}

.campo-texto input {
    background-color: var(--cor-input);
    box-shadow: 10px 10px 30px var(--cor-input-shadow);
    width: 100%;
    border: none;
    font-size: var(--fonte-primaria);
    padding: 1em;
    box-sizing: border-box;
}
